<% layout('layouts/boilerplate.ejs')%>
    <h3 class="text-center">Update Campground</h3>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="exampleInputTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="emailHelp"
                        name="campground[title]" placeholder="enter title" value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <label for="exampleInputLocation" class="form-label">Location</label>
                    <input type="text" class="form-control" id="exampleInputLocation" name="campground[location]"
                        placeholder="enter location" value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">ImageURL</label>
                    <input type="text" class="form-control" id="ImageUrl" name="campground[image]"
                        placeholder="enter image url" value="<%= campground.title %>">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="Price"
                        aria-describedby="basic-addon1" name="campground[price]" value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <select name="campground[available]" class="form-select">
                        <% for( let opt of options) { %>
                            <%=campground.price %>
                                <option value="<%= opt %>" <%=(opt==campground.available)?'selected':''%> ><%= opt %>
                                </option>
                                <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="textarea" class="form-label">Description</label>
                    <textarea name="campground[description]" id="textarea" class="form-control"
                        placeholder="enter description"><%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Update Campground</button>
                </div>
            </form>
        </div>
    </div>